.text-color
{
  color: aqua;
  background-color: black;
}
.text-align
{
  text-align: right;
}
#example-1
{
  color: coral;
  background-color: darkgrey;
  text-align: center;
}
p
{
font-size:35px;
}
#example-8
{
color: aqua;
background-color: blue;
}
p.capitalized
{
  text-transform: capitalize;
}
.text-big
{
  text-align-last: right;
}